*{
	margin:0;
	padding:0;
	font-family:"微軟正黑體",  Times, serif;;
	}
ul, li{ list-style-type:none;}
body{
	background-color:#ffd7a2;
	font-size: 13px;
	color: #555;
	line-height: 1.5;
	-webkit-text-size-adjust: 100%;
}

.Wrapper{
	width:320px;
	margin:0 auto 0 auto; /*上右下左*/
	}
	
/*選單*/
.menu{
	width:100%;
	height:37px;
	background-color:#e80b01;
	}
.menu li{
	float:left;
	width:106px;
	height:37px;
	}
.menu li a{
	background-image:url(images/Nav.png);
	background-size:320px 37px;
	height:37px;
	}
.menu li a:Active{background-image:url(images/NavOn.png);}
.menu li span a{ 
	display:block; 
	text-indent: -99999px;	
	}
.menu li.n1 a{background-position:0 0;}
.menu li.n2 a{background-position:-105px 0;}
.menu li.n3 a{background-position:-215px 0;}
.menu li.n1 a:Active{background-position:0 0;}
.menu li.n2 a:Active{background-position:-105px 0;}
.menu li.n3 a:Active{background-position:-215px 0;}

.indexbg{
	height:785px;
	background-image:url(images/indexbg.png);
	background-size:320px;
	}
.indexbg li{
	position: absolute;
	margin: 240px 0 0 25px;
	top: 155px;
	}


section{
	background-size: 320px 1200px;
	min-height: 420px;
	padding: 290px 15px 10px;
	background-color: #fff0c2;
	background-image:url(images/InnerSplash2.png);
	background-repeat: no-repeat;
}
.infobg{	
	height:420px;
	background-image:url(images/InnerSplash2.png);
	background-size:320px;
	background-repeat:no-repeat;
	padding:190px 0 0 0;
	}
.Box{
	margin-bottom: 20px;
}
.Box img{ line-height:0; display:block;}
.BoxMid{ background-color:#fff;
         margin:7px 0 0 0;
		 width:280px;
		 padding:0 10px 10px 0;
}
.BoxMid li{
	list-style-type: decimal;
	margin-left: 30px;
	}
.BorderTop{
	height: 9px;
	margin-top: 60px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
		   }
.BorderBot{ height:9px;
            margin:0 0 0 0;
}

.emailbg{
	height:420px;
	background-image:url(images/InnerSplash.png);
	background-repeat:no-repeat;
	background-size:320px;
	padding:350px 0 0 0;
	}
.emailbg li.keybox{
	width:227px;
	height:62px;
	padding:42px 0 0 60px;
	margin:0 auto;
	background-image:url(images/EmailBox.png);
	background-repeat:no-repeat;
	background-size:291px 87px;
	}
.keyin{
	width:218px;
	height:28px;
	border:0;
	background-color:#fff;
	}
.emailbg li.keybtn{
	width:262px;
	margin:10px auto 0 auto;
	}

.signupbox{
	height:520px;
	background-image:url(images/InnerSplash3.png);
	background-repeat:no-repeat;
	background-size:320px;
	padding:300px 0 0 0;
	}
.signupbox li.linebtn{
	width:320px;
	text-align:center;
	}
.signupbox li.linebtn img{ width:290px;}
.signupbox li.linetitle{ width:100%; margin:20px 0 10px 15px;}
.signupbox li.linetitle img{ width:220px;}
.signupbox li.memberbox{
	width:291px;
	height:108px;
	background-image:url(images/memberBox.png);
	background-repeat:no-repeat;
	background-size:291px;
	margin:0 auto;
	}
.key{	
	width:225px;
	height:27px;
	background-color:#efffff;
	display:block;
	border:0;
	}
.key1{padding:17px 0 0 53px;}
.key2{padding:22px 0 0 53px;}
.att{
	font-size:12px;
	padding:20px 20px 0 20px;
	}
.acbtn{ margin:10px 0 0 0;}
.acbtn ul li{ float:left; margin:0 0 0 18px;}
.acbtn img{ width:130px;}


.line{
	width:320px;
	height:423px;
	background-image:url(images/select.png);
	background-repeat:no-repeat;
	background-size:320px;
	}
.line img{ width:123px;}
.line li{
	float:left;
	margin:310px 0 0 0;
	}
.line li.linebtn1{ margin:310px 23px 0 25px;}
.winner{
	background-size: 320px 900px;
	min-height: 400px;
	/* [disabled]background-color: #ddeb72; */
	background-image: url(images/InnerSplash4.png);
	background-repeat: no-repeat;
	padding: 300px 0 0 0;
	}
.winner li{
	width:320px;
	margin:7px auto 0 auto;
	width:290px;
	padding:0 0 0 0;
}
.titlebg{ background-color:transparent !important;}
.titletext{
	text-align: left;
	font-size: 15px;
	font-weight: bold;
	color: hsla(13,25%,11%,1.00);
	height: 60px !important;
	border: 0 !important;
	}


/*內容*/

.down{
	margin: 0 auto 0 8px; /*上右下左*/
	float: left;
	
	}
.fami{
  	margin: 10px auto 0 180px; /*上右下左*/
	float: left;
	}
.winner table{ 
	width:250px; 
	margin:0 auto;
	}
.winner tr{
	background-color: #fff;
	}
.winner td{
	height: 25px;
	padding-left: 3px;
	padding-top: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ddeb72;
	border-left-color: #ddeb72;
	border-left-width: 1px;
	border-left-style: solid;
	padding-right: 5px;
	}
.noon{ border:0 !important; background-color:transparent !important;}
.winnertime{
	width:286px;
	height:246px;
	background-image:url(images/winnertime.png);
	background-repeat:no-repeat;
	background-size:286px;
	margin:40px 40px 0 0;
	background-color:#ffcc89;	
	}
.BoxMid2{ background-color:#ddeb72;
         margin:7px 0 0 0;
		 width:280px;
		 padding:0 10px 20px 0;
}	
.BoxMid2 table {
	margin-left: 15px;
	background-color: #FFFFFF;
	margin-top: 8px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
}
